<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <th:block layout:fragment="content">
        <script th:src="@{dist/user/userGuide.js}"></script>

        <!-- [컨텐츠] -->
        <div>
            <div class="right_col" role="main" id="myContentsWrap">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="pdTop_15"><strong>사용가이드</strong></h2>
                                <div class="clearfix"></div>
                            </div><!-- //x_title -->

                            <div class="x_content">
                                <div class="posiRelative big_title"><strong><a href="#">알고리즘
                                    조회</a></strong></div>

                                <div class="user_contents">
                                    <div class="x_title posiRelative"><strong><a href="#" name="con1" id="con1">알고리즘 목록</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/algorithm/a1.png" alt="알고리즘 목록" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 알고리즘을 Usage/Algorithm/Library/Data Type 기준으로 검색할 수 있다.</p>
                                        <p>2. 알고리즘들의 리스트가 나열된다.</p>
                                        <p>3. <a href="#con1_1" class="move">알고리즘 상세 정보를 볼 수 있는 팝업</a>을 띄운다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con1_1" id="con1_1">알고리즘
                                                상세 정보</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/algorithm/a2.png" alt="알고리즘 상세 정보" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 알고리즘 이름과 라이브러리 이름 및 알고리즘 종류를 보여준다.</p>
                                        <p>2. 알고리즘에 대한 기본 정보를 보여준다.</p>
                                        <p>3. 알고리즘 파라미터와 기본값을 보여준다.</p>
                                    </div>

                                    <div class="posiRelative big_title"><strong><a href="#">데이터 관리</a></strong></div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con2" id="con2">데이터
                                                작업 화면</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/dataManage/data1.png" alt="데이터 작업 화면" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 데이터를 볼 수 있다.</p>
                                        <p>2. 폴더 추가/삭제/수정/새로고침 할 수 있다.</p>
                                        <p>3. 데이터를 추가할 수 있다.</p>
                                        <p>4. 데이터의 상세 정보를 볼 수 있다.</p>
                                        <p>5. 데이터의 샘플을 볼 수 있다.</p>
                                    </div>

                                    <div class="posiRelative big_title"><strong><a href="#">머신러닝 관리</a></strong></div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3" id="con3">프로젝트 목록</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m1.png" alt="머신러닝 프로젝트 목록"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 머신러닝을 관리하는 프로젝트를 전체/이름/설명/생성일/등록자를 기준으로 검색할 수 있다.</p>
                                        <p>2. 머신러닝 프로젝트의 리스트가 나열된다.</p>
                                        <p>3. 프로젝트를 삭제하거나 프로젝트를 등록하기 위한 팝업을 띄운다.</p>
                                        <p>4. 프로젝트를 기본적인 정보를 수정할 수 있다.</p>
                                        <p>5. 프로젝트를 등록하기 위해 기본적인 정보 (프로젝트명/프로젝트 설명)을 입력한다.</p>
                                        <p>6. 입력한 정보로 새로운 프로젝트를 등록하거나 팝업을 끈다.</p>
                                        <p>7. 클릭시 <a href="#con3_1" class="move">머신러닝 작업을 위한 화면</a>으로 이동한다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_1" id="con3_1">머신러닝
                                                작업 화면</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m2.png" alt="머신러닝 작업 화면"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 선택한 프로젝트의 이름과 기본 정보가 나타난다.</p>
                                        <p>2. <a href="#con3" class="move">프로젝트의 목록</a>으로 화면 이동한다.</p>
                                        <p>3. 선택한 데이터의 목록인 '원본리스트' / 원본데이터를 전처리한 '전처리된 리스트' / 학습한 '모델리스트'가 나열된다.</p>
                                        <p>4. '+' 버튼을 클릭하여 학습에 사용할 데이터를 가져온다. (<a href="#con3_2" class="move">'학습용 원본
                                                데이터 생성 화면' 팝업</a>을 띄운다)</p>
                                        <p>5. '원본리스트'에서 선택한 데이터의 상세 정보 (데이터셋 정보)를 보여준다.</p>
                                        <p>6. 선택한 데이터를 삭제한다.</p>
                                        <p>7. 선택한 데이터의 <a href="#con3_3" class="move">통계적 정보와 그래프를 보여주는 팝업</a>을 띄운다.</p>
                                        <p>8. 머신러닝 모델에 데이터를 적용하여 학습하기 위해 데이터를 가공하는 전처리 설정을 실행한다. (<a href="#con3_4"
                                                class="move">'전처리' 팝업</a>을 띄운다)</p>
                                        <p>9. '전처리된 리스트'에서 선택한 데이터의 상세 정보 (전처리 셋 정보)와 적용한 전처리 정보 (전처리 프로세스)를 보여준다.</p>
                                        <p>10. 선택한 전처리된 데이터를 삭제한다.</p>
                                        <p>11. 전처리된 데이터의 <a href="#con3_3" class="move">통계적 정보와 그래프를 보여주는 팝업</a>을 띄운다.
                                        </p>
                                        <p>12. 전처리된 데이터를 이용하여 머신러닝 모델을 학습시킨다. (<a href="#con3_5" class="move">'전처리셋 학습'
                                                팝업</a>을 띄운다)</p>
                                        <p>13. 학습된 머신러닝 모델 정보와 학습 정보를 보여준다.</p>
                                        <p>14. 학습된 모델을 삭제한다.</p>
                                        <p>15. 학습된 모델에 새로운 데이터를 입력하여 <a href="#con3_8" class="move">테스트하기 위한 팝업</a>을
                                            띄운다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_2" id="con3_2">머신러닝
                                                원본
                                                데이터 생성</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m3.png" alt="머신러닝 원본 데이터 생성"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 데이터 관리에서 등록한 데이터를 선택한다.</p>
                                        <p>2. 선택한 데이터를 미리보기한다.</p>
                                        <p>3. 선택한 데이터를 원본데이터로 등록하거나 팝업을 끈다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_3" id="con3_3">데이터
                                                보기</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m4.png" alt="데이터 보기" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 각 열의 이름과 데이터 타입이 나타난다.</p>
                                        <p>2. 각 열의 그래프를 보여준다. (열의 데이터 종류에 따라 알맞은 그래프를 보여준다)</p>
                                        <p>3. 각 열에 대한 통계적인 정보가 나타난다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_4"
                                                id="con3_4">전처리</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m5.png" alt="전처리" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 전처리할 데이터의 컬럼 (필드명)을 선택하고 전처리할 처리방식을 선택하며 각 처리방식에 있는 Parameter를 지정한다. 처리방식은
                                            마우스 커서를 올려두면 설명이 나온다.</p>
                                        <p>2. 지정한 전처리 방식을 '등록된 전처리 리스트'에 추가한다.</p>
                                        <p>3. 등록된 전처리 방식이 나열된다.</p>
                                        <p>4. 나열된 전처리 방식을 삭제한다.</p>
                                        <p>5. '등록된 전처리 리스트'에 있는 처리방식이 적합한지 샘플 데이터로 확인한다.</p>
                                        <p>6. (좌) 기존 데이터의 샘플을 보여준다. / (우) 기존 데이터의 샘플에 전처리가 적용된 값을 보여준다.</p>
                                        <p>7. 위에서 설정한 전처리 방식을 전체 데이터에 적용하여 전처리 데이터 셋을 생성한다.</p>
                                        <p>8. 창을 닫고 '전처리'를 취소한다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_5" id="con3_5">전처리셋
                                                학습 - 알고리즘</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m6.png" alt="전처리셋 학습 - 알고리즘"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 알고리즘 / 파라미터 설정 / 분석 정보 확인에 대해 작업할 수 있는 탭이다.</p>
                                        <p>2. 원하는 알고리즘을 검색할 수 있다.</p>
                                        <p>3. 기본값으로 전체 알고리즘이 나열되며 원하는 작업**(분류, 회귀분석)에 맞는 알고리즘을 선택할 수 있다.</p>
                                        <p>4. 선택한 알고리즘에 맞는 설명이 나타난다.</p>
                                        <br>
                                        <p>** 알고리즘은 크게 두 가지 종류가 있다.</p>
                                        <p>Regression: 연속된 수치를 예측할 때 사용한다.</p>
                                        <p>ex) 기온, 평점, 주택가격 등</p>
                                        <p>Classification: 범주를 예측할 때 사용한다.</p>
                                        <p>ex) 성별, 요일, 지역 등</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_6" id="con3_6">전처리셋
                                                학습 - 파라미터
                                                설정</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m7.png" alt="전처리셋 학습 - 파라미터 설정"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 선택한 알고리즘에 대한 파라미터를 설정할 수 있다. 미설정시 default 값이 적용된다.</p>
                                        <p>2. 학습시 사용할 X 값과 Y 값을 선택할 수 있다. 또한 알고리즘별로 존재하는 파라미터를 설정할 수 있다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_7" id="con3_7">전처리셋
                                                학습 - 분석
                                                정보 확인</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m8.png" alt="분석 정보 확인" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 앞서 선택했던 알고리즘과 파라미터들을 다시 한 번 확인한다.</p>
                                        <p>2. 모든 정보를 확인하였으면 모델의 학습을 시작한다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con3_8" id="con3_8">머신러닝
                                                모델 테스트</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/machineLearning/m9.png" alt="머신러닝 모델 테스트"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 학습된 모델을 테스트할 데이터를 선택한다.</p>
                                        <p>2. 선택한 데이터의 상위 10개를 미리보기한다.</p>
                                        <p>3. 선택한 데이터를 이용하여 학습된 모델에 테스트를 요청한다.</p>
                                        <p>4. 테스트 요청 결과를 볼 수 있다.</p>
                                        <p>5. 학습할 때와 테스트할 때의 정확도를 그래프로 비교할 수 있다.</p>
                                    </div>

                                    <div class="posiRelative big_title"><strong><a href="#">딥러닝 관리</a></strong></div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4" id="con4">프로젝트 목록</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d1.png" alt="딥러닝 프로젝트 목록" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 딥러닝을 관리하는 프로젝트를 전체/이름/설명/생성일/등록자를 기준으로 검색할 수 있다.</p>
                                        <p>2. 딥러닝 프로젝트의 리스트가 나열된다.</p>
                                        <p>3. 프로젝트를 등록하기 위한 팝업을 띄운다.</p>
                                        <p>4. 프로젝트의 기본적인 정보를 수정한다.</p>
                                        <p>5. 프로젝트를 등록하기 위해 기본적인 정보 (프로젝트명/프로젝트 설명)을 입력한다.</p>
                                        <p>6. 입력한 정보로 새로운 프로젝트를 등록하거나 팝업을 끈다.</p>
                                        <p>7. 클릭시 <a href="#con4_1" class="move">딥러닝 작업을 위한 화면</a>으로 이동한다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_1" id="con4_1">딥러닝
                                                작업 화면</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d2.png" alt="딥러닝 작업 화면" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 선택한 프로젝트의 이름과 기본적인 정보가 나타난다.</p>
                                        <p>2. 선택한 데이터의 목록인 '원본리스트' / 원본데이터를 이용하여 학습한 '모델리스트'가 나열된다.</p>
                                        <p>3. '+' 버튼을 클릭하여 학습에 사용할 데이터를 가져온다. (<a href="#con4_2" class="move">'학습용 원본
                                                데이터 생성화면' 팝업</a>을 띄운다.)</p>
                                        <p>4. '원본리스트'에서 선택한 데이터로 딥러닝 모델 생성 작업을 보여준다. (모델 생성 프로세스)</p>
                                        <p>5. '모델 생성 프로세스'를 끝마친 모델의 상세 정보를 보여준다.</p>
                                        <p>6. '모델 생성 프로세스'에서 생성된 모델의 결과를 보여준다.</p>
                                        <p>7. '모델 생성 프로세스'에서 학습에 사용된 검증 데이터의 결과를 보여준다..</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_2" id="con4_2">딥러닝
                                                원본 데이터 생성</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d3.png" alt="딥러닝 원본 데이터 생성"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 데이터 관리에서 등록한 데이터를 선택한다.</p>
                                        <p>2. 딥러닝 모델에 적합한 데이터 디렉토리 구조를 보여준다.</p>
                                        <p>3. 선택한 데이터를 미리보기한다.</p>
                                        <p>4. 입력한 정보로 새로운 원본 데이터를 등록하거나 팝업을 끈다.</p>
                                        <p>** 딥러닝을 사용하기 위한 데이터 디렉토리의 구조는 고정 (최상위 디렉토리 - 라벨 - 이미지)</p>
                                        <p>ex) catdog - cat - cat1.jpg</p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            - cat2.jpg</p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            - dog - dog1.jpg</p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            - dog2.jpg</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_3" id="con4_3">모델
                                                생성 프로세스</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d4.png" alt="모델 생성 프로세스" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 딥러닝을 위한 프로세스가 나열된다. 완료된 프로세스는 박스와 화살표의 색이 수정된다.</p>
                                        <p>2. 모델 생성 프로세스를 진행하면서 모델의 정보가 반영되며 데이터의 정보가 표시된다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_4" id="con4_4">모델
                                                설명</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d5.png" alt="모델 설명" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 딥러닝 모델의 이름과 상세 설명을 작성한다.</p>
                                        <p>2. 작성이 완료되면 세팅을 눌러 '모델 생성 프로세스'에 반영한다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_5" id="con4_5">모델
                                                선택</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d6.png" alt="모델 선택" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. Pre-Trained 모델을 선택할 수 있으며 모델의 설명을 보여준다.</p>
                                        <p>2. 작성이 완료되면 세팅을 눌러 '모델 생성 프로세스'에 반영한다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_6"
                                                id="con4_6">Pre-Trained Network 분석</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d7.png" alt="Pre-Trained Network 분석"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 사전 학습된 모델의 레이어를 보여준다.</p>
                                        <p>2. 레이어의 사용 여부를 지정한다.</p>
                                        <p>3. 사용자가 추가하고자 하는 레이어를 편집한다.</p>
                                        <p>4. 사용자가 원하는 레이어를 추가한다.</p>
                                        <p>5. 새로 만드는 레이어의 이름을 지정한다.</p>
                                        <p>6. 새로 만드는 레이어의 종류를 지정한다.</p>
                                        <p>7. 레이어에서 필수로 필요한 파라미터를 입력한다.</p>
                                        <p>8. 레이어를 삭제한다.</p>
                                        <p>9. 작성이 완료되면 세팅을 눌러 '모델 생성 프로세스'에 반영한다.</p>
                                        <p>** 레이어를 쌓을 때에는 앞선 레이어에 적합한 레이어만 쌓을 수 있음</p>
                                        <p>&nbsp;&nbsp;&nbsp; 마지막 레이어(Dense)의 출력은 항상 라벨의 갯수와 같아야 함</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_7" id="con4_7">데이터
                                                제너레이터</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d8.png" alt="데이터 제너레이터" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 데이터 제너레이터에 필요한 파라미터를 설정한다.</p>
                                        <p>2. 데이터 제너레이터의 사용 여부를 정한다.</p>
                                        <p>3. 작성이 완료되면 세팅을 눌러 '모델 생성 프로세스'에 반영한다.</p>
                                        <br>
                                        <p>** 랜덤 기준 값: 랜덤 값이 다음에도 똑같이 나오기 위해 설정하는 수치</p>
                                        <p>&nbsp;&nbsp;&nbsp; 사진 회전: 사진을 랜덤하게 회전</p>
                                        <p>&nbsp;&nbsp;&nbsp; 사진 이동: 랜덤하게 상/하/좌/우로 이동</p>
                                        <p>&nbsp;&nbsp;&nbsp; 크기 조정: 사진의 크기를 랜덤하게 변환</p>
                                        <p>&nbsp;&nbsp;&nbsp; 사진 반전: 사진을 상하/좌우 반전</p>
                                        <p>&nbsp;&nbsp;&nbsp; 찌그러짐: 사진을 랜덤하게 찌그러뜨림</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_8" id="con4_8">파라미터
                                                설정</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d9.png" alt="파라미터 설정" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 학습에 필요한 파라미터를 설정한다.</p>
                                        <p>2. 작성이 완료되면 세팅을 눌러 '모델 생성 프로세스'에 반영한다.</p>
                                        <br>
                                        <p>** epoch: 학습 반복 횟수 (모든 데이터가 학습에 사용시 1 epoch 학습)</p>
                                        <p>&nbsp;&nbsp;&nbsp; 검증 데이터 비율: 학습에 사용되는 데이터 중 검증 데이터를 따로 지정하여 모델의 성능을 보여줌</p>
                                        <p>&nbsp;&nbsp;&nbsp; batch_size: 한번에 사용되는 데이터의 양</p>
                                        <p>&nbsp;&nbsp;&nbsp; shuffle: 학습시 데이터를 섞을지 여부</p>
                                        <p>&nbsp;&nbsp;&nbsp; optimizer: 손실함수를 최소화시키기 위한 전략</p>
                                        <p>&nbsp;&nbsp;&nbsp; learning_rate: 학습시 모델에 대한 반영 비율</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_9"
                                                id="con4_9">Train</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d10.png" alt="Train" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 학습 여부를 팝업으로 물어본다.</p>
                                        <p>2. 학습을 시작하거나 팝업을 끈다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_10" id="con4_10">모델
                                                세부 정보</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d11.png" alt="모델 세부 정보" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 학습에 사용한 '데이터 제너레이터' 설정값을 보여준다.</p>
                                        <p>2. 학습에 사용한 파라미터 설정 값을 보여준다.</p>
                                        <p>3. 사용자가 만든 모델의 구조를 보여준다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_11" id="con4_11">학습
                                                결과</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d12.png" alt="학습 결과" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 검증 데이터로 지정된 데이터의 이미지명과 실제값과 예측값을 보여준다.</p>
                                        <p>2. 검증 데이터로 지정된 데이터의 이미지를 보여준다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_12" id="con4_12">손실
                                                & 정확도</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d13.png" alt="손실 & 정확도" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 모델 학습 epoch마다 검증 데이터로 얻은 손실 정보를 보여준다.</p>
                                        <p>2. 모델 학습 epoch마다 검증 데이터로 얻은 정확도 정보를 보여준다.</p>
                                        <p>3. 모델 학습에 소요된 시간을 보여준다.</p>
                                        <p>4. 학습된 모델에 테스트 데이터를 적용하는 팝업을 띄운다.</p>
                                    </div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con4_13"
                                                id="con4_13">딥러닝 모델 테스트</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/deepLearning/d14.png" alt="딥러닝 모델 테스트" class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 테스트에 사용될 데이터를 설정한다.</p>
                                        <p>2. 데이터의 미리보기를 보여준다.</p>
                                        <p>3. 선택한 데이터에 대한 테스트를 요청한다.</p>
                                        <p>4. 모델에 테스트 데이터를 적용하여 결과를 보여준다.</p>
                                    </div>

                                    <div class="posiRelative big_title"><strong><a href="#">도메인 관리</a></strong></div>

                                    <div class="x_title posiRelative"><strong><a href="#" name="con5" id="con5">도메인
                                                목록</a></strong></div>
                                    <div class="img_area">
                                        <img src="images/userGuide/domainManage/domain1.png" alt="도메인 목록"
                                            class="guide">
                                    </div>
                                    <div class="text_area">
                                        <p>1. 도메인을 유형/카테코리/등록일 기준으로 검색할 수 있다.</p>
                                        <p>2. 내가 만든 도메인만 조회할 수 있다.</p>
                                        <p>3. 도메인들의 리스트가 나열된다.</p>
                                        <p>4. 데이터를 다운로드할 수 있다.</p>
                                        <p>5. 학습된 결과를 테스트해 볼 수 있다.</p>
                                        <p>6. 도메인을 수정할 수 있는 팝업을 띄운다.</p>
                                        <p>7. 도메인을 등록, 수정하는 팝업을 띄우거나 삭제할 수 있다.</p>
                                        <p>8. 학습한 모델을 이용하여 도메인을 생성할 수 있다.</p>
                                    </div>
                                </div>
                                <!--user_contents-->
                            </div><!-- //x_content -->
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="x_panel link_area_wrap datascroll">
                            <div class="x_content">
                                <div class="link_area">
                                    <ul>
                                        <li>
                                            <a class="menu_title"><span class="fa fa-caret-right arrow-right"></span>알고리즘 조회</a>
                                            <ul class="small_menu">
                                                <li><a href="#con1">- 알고리즘 목록</a></li>
                                                <li><a href="#con1_1">- 알고리즘 상세 정보</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="menu_title"><span class="fa fa-caret-right arrow-right"></span>데이터 관리</a>
                                            <ul class="small_menu">
                                                <li><a href="#con2">- 데이터 작업 화면</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="menu_title"><span class="fa fa-caret-right arrow-right"></span>머신러닝 관리</a>
                                            <ul class="small_menu">
                                                <li><a href="#con3">- 프로젝트 목록</a>
                                                <li><a href="#con3_1">- 작업 화면</a>
                                                <li><a href="#con3_2">- 원본 데이터 생성</a>
                                                <li><a href="#con3_3">- 데이터 보기</a>
                                                <li><a href="#con3_4">- 전처리</a>
                                                <li><a href="#con3_5">- 알고리즘</a>
                                                <li><a href="#con3_6">- 파라미터 설정</a>
                                                <li><a href="#con3_7">- 분석 정보 확인</a>
                                                <li><a href="#con3_8">- 테스트</a>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="menu_title"><span class="fa fa-caret-right arrow-right"></span>딥러닝 관리</a>
                                            <ul class="small_menu">
                                                <li><a href="#con4">- 프로젝트 목록</a></li>
                                                <li><a href="#con4_1">- 작업 화면</a></li>
                                                <li><a href="#con4_2">- 원본 데이터 생성</a></li>
                                                <li><a href="#con4_3">- 모델 생성 프로세스</a></li>
                                                <li><a href="#con4_4">- 모델 설명</a></li>
                                                <li><a href="#con4_5">- 모델 선택</a></li>
                                                <li><a href="#con4_6">- Pre-Trained Network 분석</a></li>
                                                <li><a href="#con4_7">- 데이터 제너레이터</a></li>
                                                <li><a href="#con4_8">- 파라미터 설정</a></li>
                                                <li><a href="#con4_9">- Train</a></li>
                                                <li><a href="#con4_10">- 모델 세부 정보</a></li>
                                                <li><a href="#con4_11">- 학습 결과</a></li>
                                                <li><a href="#con4_12">- 손실 & 정확도</a></li>
                                                <li><a href="#con4_13">- 모델 테스트</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="menu_title"><span class="fa fa-caret-right arrow-right"></span>도메인 관리</a>
                                            <ul class="small_menu">
                                                <li><a href="#con5">- 도메인 목록</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- //x_title -->
                        </div>
                        <a id="back-to-top">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //[컨텐츠] -->

    </th:block>
</body>

</html>