<!-- Bootstrap -->
<script th:src="@{js/lib/bootstrap.min.js}"></script>

<!-- Drag modal -->
<script th:src="@{js/lib/jquery-ui.min.js}"></script>

<!-- iCheck -->
<script th:src="@{js/lib/icheck.min.js}"></script>
<script th:src="@{js/lib/moment.min.js}"></script>
<script th:src="@{js/lib/daterangepicker.js}"></script>

<!-- Datatables -->
<script th:src="@{js/lib/jquery.dataTables.min.js}"></script>
<script th:src="@{js/lib/dataTables.bootstrap.min.js}"></script>

<script th:src="@{js/lib/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{js/lib/dataTables.keyTable.min.js}"></script>
<script th:src="@{js/lib/dataTables.responsive.min.js}"></script>
<script th:src="@{js/lib/responsive.bootstrap.js}"></script>
<script th:src="@{js/lib/dataTables.scroller.min.js}"></script>

<!-- amchart Resources -->
<script th:src="@{js/lib/amchart/core.js}"></script>
<script th:src="@{js/lib/amchart/charts.js}"></script>
<script th:src="@{js/lib/amchart/animated.js}"></script>

<!-- PNotify -->
<script th:src="@{gentelella/vendors/pnotify/dist/pnotify.js}"></script>
<script th:src="@{gentelella/vendors/pnotify/dist/pnotify.buttons.js}"></script>
<script th:src="@{gentelella/vendors/pnotify/dist/pnotify.nonblock.js}"></script>

<!-- Custom Theme Scripts -->
<script th:src="@{js/lib/custom.min.js}"></script>
<!-- <script th:src="@{js/lib/custom.min.js}"></script> -->

<!-- 공통 -->
<script th:src="@{dist/commonUtils.js}"></script>

<!-- 프로젝트 공통 -->
<script th:src="@{dist/dataAnalyticsManager.js}"></script>

<!-- Ajax -->
<script th:src="@{dist/ajaxApiData.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.7/polyfill.js"></script>
